.tokenomics-div {
    position: relative;
    text-align: center;
    color: white;
    font-size: 20px;
}

.field-title {
    height: 3rem;
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid white;
    text-align: center;
    text-justify: auto;
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 275px;
    margin-bottom: 51px;
    inline-size: fit-content;
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;
    z-index: 103;
    width: 374px;
    height: 66px;
    background: #0A7B3D;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 14px 15px rgba(42, 119, 58, 0.18);
    border-radius: 18px;
}



.field-title-name {
    margin: auto;

    /* background: #0A7B3D;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 14px 15px rgba(42, 119, 58, 0.18);
    border-radius: 18px; */
}

.tokenomics-content {
    width: 100%;
    background-color: #0A7B3D;
    position: relative;
}

.tokenomics-content-image {
    /* width: -webkit-fill-available; */
    width: 100%;
    position: relative;
    z-index: 103;
}

.tokenomics-content-back-image {
    position: absolute;
    left: 0;
    bottom: -200px;
    width: 100%;
    z-index: 102;
}


@media screen and (max-width:768px) {
    .tokenomics-div {
        text-align: center;
        color: white;
        opacity: 0.9;
        font-size: 20px;
        margin-top: 40px;
    }

    

    .field-title {
        height: 2rem;
        background-color: transparent;
        border-radius: 12px;
        /* border: 1px solid silver; */
        border: 0.5px solid silver;
        box-shadow: 0px 14px 15px rgba(42, 119, 58, 0.18);
        border-radius: 10px;

        text-align: center;
        text-justify: auto;
        align-items: center;
        display: flex;
        margin: auto;
        margin-bottom: 51px;
        inline-size: fit-content;
        padding-left: 4rem;
        padding-right: 4rem;
        position: relative;
        z-index: 103;
    }

    .field-title-name {
        margin: 0 auto;
        font-size: 10px;
    }

    .tokenomics-content {
        width: 100%;
        background-color: #0A7B3D;
    }

    .tokenomics-content-image {
        width: -webkit-fill-available;
        position: relative;
        z-index: 103;
        margin-bottom: 60px;
    }

    .tokenomics-content-back-image {
        content: url('../../assets/tokenomics_small.png');
        position: absolute;
        left: 0;
        bottom: -50px;
        width: 100%;
        z-index: 102;
    }
}